# Ignore node_modules in both frontend and backend
/backend/node_modules
/frontend/node_modules

# Optional: Skip operating system files
.DS_Store
Thumbs.db

# Optional: Skip IDE/editor-specific files
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
